* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

h2 {
  font-size: 30px;
  font-family: "PlayfairDisplay";
  color: #626262;
  padding: 15px;
  margin: auto;
}

.Lifestyle {
  padding: 15px;
  margin: auto;
  font-size: 14px;
  font-family: "Ubuntu";
  color: #626262;
}

.link {
  display: block;
  padding: 15px 30px;
  text-align: center;
  margin: auto;
  font-size: 20px;
  font-family: "PlayfairDisplay";
  color: #707070;
  cursor: pointer;
  background: transparent;
}

footer {
  margin: 30px;
}

.nav {
  padding: 10px 30px;
  text-decoration: none;
}

header {
  text-align: center;
  padding: 30px 30px;
}

.ssilki {
  text-align: center;
  margin: auto;
  display: inline-block;
  font-family: "PlayfairDisplay";
  font-size: 14px;
}
a {
  color: #626262;
}

a:hover {
  color: #03a9f4;
}
link:hover {
  color: #03a9f4;
}
img {
  width: 474px;
  height: 316px;
  padding: 15px;
  margin: auto;
}

.Lorem {
  font-size: 14px;
  font-family: "PlayfairDisplay";
  color: #626262;
  line-height: 1.714;
  text-align: left;
  padding: 15px;
  margin: auto;
}

section {
  display: inline-block;
  width: 500px;
  margin: 20px;
}

.wraper {
  width: 1090px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  text-align: center;
  padding: 30px 30px;
}
.task_1 {
  font-size: 18px;
  font-family: "Ubuntu";
  padding: 30px 40px;
  transform: scale(0.3);
  transition: 0.5s all;
}
.task_1:hover {
  color: #f36bff;
  border: 3px solid #65d3ff;
  padding: 15px 30px;
  font-size: 25px;
  transform: rotate(45deg) scale(0.3);
  background-color: #fcffa1;
  border-radius: 60%;
}

h1 {
  font-size: 30px;
  font-family: "Ubuntu";
  color: rgb(98, 98, 98);
  padding: 10px;
  margin: auto;
  margin: 20px;
  color: purple;
}

.wraper_2 {
  display: inline-block;
  width: 1090px;
  margin-left: auto;
  margin-right: auto;
}
